#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

#header img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}
#header img {
  height: 2rem;
}

#header #search-bar {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px 10px;
}
#header #search-bar input {
  outline: none;
  margin-left: 5px;
  padding: 5px;
}
#search-bar img {
  margin-right: 5px;
}

body {
  background-color: #faf6f1;
}

body h1 {
  font-size: 3rem;
  color: #fe750a;
  text-align: center;
  margin-top: 2rem;
}

body span {
  font-size: 1.2rem;
  color: #555555;
  text-align: center;
  display: block;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #333333;
  font-weight: bold;
}

form input[type='submit'] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #fe750a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type='submit']:hover {
  background-color: #e5640a;
}

form input[type='text'] {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
form input[type='email'] {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
textarea {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
